# Github config
GITHUB_API_TOKEN_0=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
GITHUB_API_TOKEN_1=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
GITHUB_API_TOKEN_2=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
GITHUB_API_TOKEN_3=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
GITHUB_API_TOKEN_4=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
GITHUB_API_TOKEN_5=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
GITHUB_API_TOKEN_6=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
GITHUB_API_TOKEN_7=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
# GITHUB_API_TOKEN_8=
# GITHUB_API_TOKEN_9=
# Cloudflare config
R2_BUCKET_NAME =tobias 
R2_ENDPOINT = https://f6f636fe4f05f47023c4a716338bfd95.r2.cloudflarestorage.com
R2_ACCESS_KEY = f975eb55a12393ae4e1bd166f8d267d4
R2_SECRET_KEY = 78abb52b679a2be5b2d7f701e6c6875b433ad1419fc7aa95ecd94b1b3475ad22
# Mongodb config
MONGODB_URL = mongodb+srv://huik99298:Go121314!@tritonix0.ui2velv.mongodb.net/?retryWrites=true&w=majority
# Azure config
AZURE_CONN_STRING ="BlobEndpoint=https://yangjianblob.blob.core.windows.net/;SharedAccessSignature=sv=2020-04-08&se=2024-03-17T15%3A52%3A21Z&sr=c&sp=rwl&sig=pQvIO8%2F6JaUdhV7Go%2FmQhVvvXPh55B2IF3Vi%2BLN09zk%3D
